/* Home.css */
.homepage {
    position: relative;
    min-height: 100vh;
    color: #8B4513; /* Set the text color to deep brown */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Ensure children elements don't overflow */
  }
  
  .homepage::before {
    content: "";
    background-image: url('C:\Users\ASUS\afia\public\images\bg1.jpg'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Adjust the opacity here */
    z-index: -1; /* Ensure the background is behind the content */
  }
  