/* Login.css or Signup.css */

body {
    background-image: url('C:\Users\ASUS\afia\public\images\bg2.jpg');
    background-size: cover;
    background-position: center;
    /* Optional: Additional body styles */
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(202, 157, 94, 0.8); /* Transparent brown background */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
}

.login-form {
    padding: 30px;
    background-color: rgba(203, 145, 104, 0.8); /* Transparent brown background */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
}

/* Additional specific styles for form elements, alerts, etc. */
