/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding-top: 20px;
}

.navbar-coffee {
  background-color: #6f4e37; /* Coffee color */
}

.app-logo {
  height: 100px; /* Increase the height */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.nav-link {
  color: #ffffff !important; /* White text */
}

.nav-link:hover {
  color: #cccccc !important; /* Light gray on hover */
}

.homepage {
  background-image: url('C:\Users\ASUS\afia\public\images\bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure it covers the full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5a3d2b; /* Deep brown color for text */
}

h2, p {
  margin: 0;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}
